{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Редактировать профиль{% endblock %}

{% block content %}
<div class="container">
    <h1>Редактировать профиль</h1>
    <form method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
        
        <h3>Информация о пользователе</h3>
        {{ user_form|crispy }}
        
        <h3>Дополнительная информация профиля</h3>
        {{ profile_form|crispy }}
        
        <button type="submit" class="btn btn-success">Сохранить изменения</button>
        <a href="{% url 'profile' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
